<table class="customers">
    <tbody> 
        {{#customers}}
        <tr> 
            <th colspan="2">{{fullName name}}</th>
        </tr>
        <tr>
            <td>e-mail</td> 
            <td><a href="mailto:{{email}}">{{email}}</a></td> 
        </tr> 
        <tr>
            <td>Secondary Phone</td> 
            <td>{{secondaryPhoneNumber}}</td> 
        </tr> 
        <tr>
            <td>CPR</td> 
            <td>{{cpr}}</a></td> 
        </tr> 
        <tr>
            <td valign=top>Address</td> 
            <td>{{address address}}</td> 
        </tr> 
        <tr>
            <td>Balance</td> 
            <td>{{balance}}</td> 
        </tr> 
        <tr>
            <td valign=top>Selective Services</td> 
            <td>{{selectiveServices selectiveServices}}</td> 
        </tr> 
        <tr>
            <td valign=top>Receive Promomotions Permissions</td> 
            <td>{{receivePromomotionsPermissions receivePromomotionsPermissions}}</td> 

        </tr> 
        {{/customers}} 
    </tbody> 
</table>
{{!-- var sampleData = {
    "customer": {
        "id": 1,
        "cpr": "180173XXXX",
        "secondaryPhoneNumber": "+46707318625",
        "name": {
            "first": "Martin",
            "last": "Rosén-Lidholm"
        },
        "email": "mrol@telenor.dk",
        "address": {
            "street": "Nils Anderssons gata",
            "houseNumber": 12,
            "postalCode": 21836,
            "city": "Bunkeflostrand",
            "country": "Sverige"
        },
        "balance": 322.50,
        "selectiveServices": [{
            "name": "5 GB data"
        }, {
            "name": "Udlandsopkald"
        }],
        "receivePromomotionsPermissions": {
            "sms": false,
            "email": true,
            "phoneCall": false
        }
    }
}
 --}}